<%= stylesheet_link_tag params[:controller] %>
<div class="containerB">
  <div class="home-container">
  <h3 class="titleS">Welcome to Artsy Gene</h3>
  <p class="descBig">The best place online for all your artsy needs</p>
  <p class="lead">
    <%= link_to "Browse the Artists", artists_path, class: 'btn btn-primary btn-lg' %>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Browse the Artists</a> -->
  </p>
  </div>
  </div>
