// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-container {
  background: linear-gradient(#e66465, #9198e5);
  border: 2px solid white;
  width: 60%;
  height: 600px;
  margin: 0 auto;
  /* border-radius: 10px; */
  -webkit-box-shadow: 22px 36px 40px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 22px 36px 40px -19px rgba(0,0,0,0.75);
  box-shadow: 22px 36px 40px -19px rgba(0,0,0,0.75);
  /* padding: 1rem; */
}

#login-message {
  font-size: 1.5rem;
  padding: 2rem;
  width: 100%;
  padding-bottom: 1.2rem;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 1.5rem;
}

input[type=text], input[type=password], input[type=email] {
  width: 99%;
  border: 1px solid #000;
  padding: .5rem;
  font-size: .8rem;
  background: none;
  margin-bottom: .5rem;
  color: #000;
}
